@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.skills-section {
  scroll-margin-top: 70px;

  .td-bar {
    width: 100%;
  }

  td {
    padding-right: 20px;
    text-align: right;
  }
}
