.box {
  border: solid;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

.MuiTimelineOppositeContent-root {
  font-family: fantasy;
  color: gray;
  max-width: 100px;
}

.MuiTimelineContent-root {
  padding-top: 1px !important;
}
